{% load i18n %}

<div class="rsvp-response"
    data-response="{{ repetition.rsvp_response }}"
    data-repetition-id="{{ repetition.id }}"
    data-repeat-type="{% if no_repetition %}0{% else %}{{  repetition.meeting.repeat_type }}{% endif %}"
    data-for-repetition="true">

  <div class="btn-group">
    <div class="btn btn-default" data-response="Accept">{% trans 'Yes' %}</div>
    <div class="btn btn-default rsvp-accept-type" data-response="Accept" id="accept-type-dropdown-{{ repetition.id }}">
      <i class="fa fa-caret-down"></i></div>
    <div class="btn btn-default" data-response="Tentative">{% trans 'Maybe' %}</div>
    <div class="btn btn-default" data-response="Decline">{% trans 'No' %}</div>
  </div>


  <div class="rsvp-dialog">
    <form>
      <div class="rsvp-dialog-repetition-type mb-10">
        <div class="rsvp-dialog-header">{% trans 'Please select how to apply change' %}:</div>
        <div>
          <label><input type="radio" value="false" checked name="rsvp-apply-type-{{ repetition.id }}" class="rsvp-apply-type"> {% trans 'All meetings in a series' %}</label>
        </div>
        <div>
          <label><input type="radio" value="true" name="rsvp-apply-type-{{ repetition.id }}" class="rsvp-apply-type"> {% trans 'Just this meeting' %}</label>
        </div>
      </div>

      <div class="rsvp-dialog-attendance-type mb-10">
        <div class="rsvp-dialog-header">{% trans 'Attendance type' %}:</div>
        <div>
          <label><input type="radio" value="0" {% if repetition.rsvp_accept_type == 0 %}checked{% endif %}
              name="rsvp-accept-type-{{ repetition.id }}" class="rsvp-accept-type"> {% trans 'In Person' %}</label>
        </div>
        <div>
          <label><input type="radio" value="1" {% if repetition.rsvp_accept_type == 1 %}checked{% endif %}
              name="rsvp-accept-type-{{ repetition.id }}" class="rsvp-accept-type"> {% trans 'Via Phone' %}</label>
        </div>
        <div>
          <label><input type="radio" value="2"  {% if repetition.rsvp_accept_type == 2 %}checked{% endif %}
              name="rsvp-accept-type-{{ repetition.id }}" class="rsvp-accept-type"> {% trans 'Other (specify note)' %}</label>
        </div>

        <textarea placeholder="{% trans 'Note' %}" class="form-control rsvp-accept-note">{{ repetition.rsvp_note }}</textarea>
      </div>

      <div class="mt-10">
        <input type="submit" class="btn btn-primary" value="{% trans 'YES' %}">
        <span class="btn btn-default btn-cancel">{% trans 'Cancel' %}</span>
      </div>
    </form>
  </div>
</div>
