{% extends 'inner.html' %}

{% load static common_tags i18n %}

{% block base_resources %}
  <link rel="stylesheet" href="{% static 'css.generated/base.css' %}"/>
  <script src="{% static 'js/libs/jquery-1.12.4/jquery.js' | min_for_prod %}"></script>
  <script src="{% static 'js/libs/bootstrap/js/bootstrap.js' | min_for_prod %}"></script>
{% endblock %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'js/selectize/css/selectize.css' %}"/>
  <link rel="stylesheet" href="{% static 'js/libs/sweetalert2/sweetalert2.min.css' %}">

  <link rel="stylesheet" href="{% static 'css.generated/voting.css' %}"/>
{% endblock %}

{% block end_js %}
  {{ block.super }}
  <script src="{% static 'js/libs/vue/vue.js'|min_for_prod %}"></script>
  <script src="{% static 'js/libs/vue/vue-router.js'|min_for_prod %}"></script>
  <script src="{% static 'js/libs/vue/vue2-selectize.js' %}"></script>
  <script src="{% static 'js/libs/momentjs/moment.js'|min_for_prod %}"></script>
  <script src="{% static 'js/kendo.web.min.js' %}"></script>
  <script src="{% static 'js/libs/sweetalert2/sweetalert2.min.js' %}"></script>

  <script src="{% static 'js.generated/voting.entry.js' %}"></script>
  <script src="{% static 'js/jquery-ui-1.11.4.custom.min.js' %}"></script>
{% endblock %}

{% block workspace %}
  <div id="app">
    <router-view></router-view>
  </div>

  <div class="hidden">
    {# Views are imported in single page instead of .vue components so that Django's i18n can be used #}
    {% include 'voting/views/voting_main.html' %}
    {% include 'voting/views/voting_create.html' %}
    {% include 'voting/views/voting_view.html' %}
    {% include 'voting/views/voting_questions.html' %}
    {% include 'voting/components/question_form.html' %}
    {% include 'voting/components/voter_form.html' %}
    {% include 'voting/components/voters_list.html' %}
    {% include 'voting/components/question_answer_result.html' %}
  </div>

  <script type="text/javascript">
      window.is_admin = {{ is_admin|json }};
      window.urls['votings_list'] = '{% acc_url 'api-voting-votings-list' %}';
      window.urls['available_votings_list'] = '{% acc_url 'api-voting-available-votings-list' %}';
      window.urls['votings_detail'] = '{% acc_url 'api-voting-votings-detail' pk=9999 %}';
      window.urls['votings_questions'] = '{% acc_url 'api-voting-questions-list' voting=1111 %}';
      window.urls['votings_questions_detail'] = '{% acc_url 'api-voting-questions-detail' voting=1111 pk=2222 %}';
      window.urls['votings_voters'] = '{% acc_url 'api-voting-voters-list' voting=1111 %}';
      window.urls['votings_voters_add_members'] = '{% acc_url 'api-voting-voters-add-members' voting=1111 %}';
      window.urls['votings_voters_detail'] = '{% acc_url 'api-voting-voters-detail' voting=1111 pk=2222 %}';
      window.urls['profiles_memberships_list'] = '{% acc_url 'api-profiles-memberships-list' %}';
      window.urls['committees_list'] = '{% acc_url 'api-committees-committees-list' %}';
  </script>
{% endblock %}