@import "../config";

.bg-primary {
  background-color: $brand-primary !important; /* !important to override swal buttons inline style */
}

.bg-success {
  background-color: $brand-success !important;
}

.bg-danger {
  background-color: $brand-danger !important;
}

.display-none {
  display: none;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-30 {
  margin-right: 30px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.w-100 {
  width: 100% !important;
}

.label-sm {
  font-size: 14px;
}

.clickable {
  cursor: pointer;
}

.inline-form {
  margin: 0;
  padding: 0;
  display: inline-block;

  .selectize-control {
    display: inline-block;
    vertical-align: middle;
  }
}
