dl.fields-list {
  dt {
    float: left;
    min-width: 100px;
    font: 12px ProximaNova-Semibold, arial, helvetica, sans-serif;
    text-transform: uppercase;
    padding-top: 2px;
  }

  dd {
    font-size: 14px;
    margin-bottom: 5px;
  }
}