.selectize-like-button {
  float: left;
  position: relative;
  display: inline-block;
  text-shadow: 0 1px 0 rgba(0, 51, 83, 0.3);
  border-radius: 3px;
  background-color: #1da7ee;
  background-image: linear-gradient(to bottom, #1da7ee, #178ee9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1da7ee', endColorstr='#ff178ee9', GradientType=0);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.03);

  /*cursor: pointer;*/
  margin: 5px 5px 5px 0;
  padding: 4px 24px 4px 6px;
  color: #ffffff;
  border: 1px solid #0073bb;
}

.selectize-like-button .selectize-like-button-cross {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 17px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  padding: 4px 0 0 0;
  border-left: 1px solid #0073bb;
  border-radius: 0 2px 2px 0;
  box-sizing: border-box;
}
