#tidio-chat iframe:nth-child(2) {
  transform: none !important;
  top: auto !important;
  bottom: 0 !important;
  right: 40px !important;
  width: 200px !important;
}

//#tidio-chat iframe:nth-child(2) {
//  right: -59px !important;
//  width: 152px !important;
//}