{% extends "inner.html" %}
{% load common_tags i18n static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/document_add.css' %}">
{% endblock extra_css %}

{% block extra_js %}
  <script src="{% static 'js/kendo.web.min.js' %}"></script>
  <script src="{% static 'js/edit-documents.js' %}"></script>
  <script src="{% static 'js/dashboard.js' %}"></script>
  <script src="{% static 'js/documents.js' %}"></script>
  <script type="text/javascript">
    var DOC_DELETE_URL = "{% url 'documents:delete' %}"
  </script>
{% endblock extra_js %}

{% block workspace %}
  <header class="heading">
    <h2>{% trans 'Add a Document' %}</h2>
  </header>

  <div>
    {% if form %}
      <ul class="message error">
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
        {% for error in form.errors.uploaded %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>

      <form method="post" enctype="multipart/form-data" class="createmeeting-form create-document-form" action="">
        {% csrf_token %}
        <ul>
          {% include 'meetings/includes/edit_form.html' %}
        </ul>
        <input type="submit" class="btn" value="{% trans 'Upload' %}" name="new_document">
        <a href="{{ folder.get_absolute_url }}" class="btn back">{% trans 'Back' %}</a>
      </form>
    {% endif %}
  </div>

  <script id="delete-confirmation" type="text/x-kendo-template">
    <p class="delete-message">{% trans 'Are you sure you want to delete this document' %}?</p>
    <div class="confirmation-buttons">
      <button class="delete-confirm k-button">{% trans 'Yes' %}</button>
      <button class="delete-cancel k-button">{% trans 'No' %}</button>
    </div>
  </script>
{% endblock workspace %}
