/* Password Strengh */
#user_registration
{
    border:1px solid #cccccc;
    margin:auto auto;
    margin-top:100px;
    width:400px;
}


#user_registration label
{
        display: block;  /* block float the labels to left column, set a width */
    float: left;
    width: 70px;
    margin: 0px 10px 0px 5px;
    text-align: right;
    line-height:1em;
    font-weight:bold;
}

#user_registration input
{
    width:250px;
}

#user_registration p
{
    clear:both;
}

#submit
{
    border:1px solid #cccccc;
    width:100px !important;
    margin:10px;
}

#passwordStrength
{
    height:10px;
    display:block;
    float:left;
}
[id$='Description']
{
    display: block;
    float: right;
}
.strength0
{
    width:75%;
    background:#cccccc;
}

.strength1
{
    width:25%;
    background:#ff0000;
}

.strength2
{
    width:35%;
    background:#ff5f5f;
}

.strength3
{
    width:50%;
    background:#56e500;
}

.strength4
{
    background:#4dcd00;
    width:65%;
}

.strength5
{
    background:#399800;
    width:75%;
}
