.popup-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 50;
    background-color: rgba(8, 38, 51, 0.9);
}

.ui-dialog {
    border-radius: 7px;
    border: 0;
    box-sizing: border-box;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0);
}

.ui-dialog .ui-dialog-titlebar {
    border: 0;
    background: white;
    padding: 0;
    border-radius: 5px 5px 0 0;
}

.ui-widget-content {
    background: none;
}

.ui-dialog .ui-dialog-buttonpane {
    background: #f3f3f3;
    border-radius: 0 0 5px 5px;
    border: 0;
    margin: 0;
    padding: 0 63px;
}

.ui-dialog .ui-dialog-content {
    background: white;
    margin: 0;
    padding: 0;
}

.ui-dialog .ui-dialog-title {
    text-transform: uppercase;
    text-align: center;
    display: block;
    font: 2.3em ProximaNova-Regular, arial, helvetica, sans-serif;
    font-weight: bold;
    float: none;
    width: 100%;
    line-height: 30px;
    margin: 57px 0 0 0;
    letter-spacing: 1px;
}

.pop-form, .invite-form, .crole_form {
    padding: 0 50px 10px 50px;
    background-color: #f3f3f3;
    border-top: 1px solid #d5d5d5;
    overflow: hidden;
    /* text-align: right; */
}

.pop-form input, .invite-form form input, .crole_form input {
    display: block;
    border: 1px solid #d5d5d5;
    height: 56px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px 0 15px;
    margin-top: 29px;
    border-radius: 2px;
}

.invite-form form .invite-pm,
.pop-form form .optional {
    display: block;
    padding: 6px 8px 0 0;
    font-size: 11px;
    color: #717171;
    text-align: right;
    line-height: 0.125;
}

#invite-user {
    background: url("../images/icon-user-invite.png") no-repeat scroll 16px 14px;
    padding-left: 51px;
    color: #717171;
}

.pop-form form h4 {
    font-size: 100%;
    font-weight: bold;
    padding: 0;
    margin: 1em 0 0.5em 0;
}

.pop-form p .fa, .pop-form .filename .fa {
    color: #008ac6;
    display: inline;
    vertical-align: middle;
}

.pop-form p .fa.fa-file-docx-o, 
.pop-form p .fa.fa-file-pdf-o, 
.pop-form .filename .fa.fa-file-docx-o {
    color: #e58080;
}

.pop-form ul {
    margin: 0;
    padding: 0;
}

.pop-form ul li {
    margin: 0 0 0.5em;
    padding: 0 0 0 1em;
}

.pop-form form textarea,
.invite-form form textarea {
    display: block;
    border: 1px solid #d5d5d5;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0.5em 1em;
    margin: 1em auto 0 auto;
    border-radius: 2px;
    letter-spacing: -0.4px;
}

.pop-form form input[type=checkbox] {
    height: auto;
    width: auto;
    display: inline-block;
    margin: 0 0.5em 0 0;
    padding: 0;
    border: 1px solid #d5d5d5;
}

::-webkit-input-placeholder {color: #717171;}
::-moz-placeholder          {color: #717171;}/* Firefox 19+ */
:-moz-placeholder           {color: #717171;}/* Firefox 18- */
:-ms-input-placeholder      {color: #717171;}


.ui-dialog-titlebar > button.ui-button, 
.ui-dialog-titlebar > button.ui-button:hover, 
.ui-dialog-titlebar > button.ui-button:active {
    position: absolute;
    top: -18px;
    right: -21px;
    background-color: rgba(0,0,0,0);
    height: 35px;
    width: 35px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    background-image: none;
}

.ui-state-default .ui-icon,
.ui-widget-header .ui-icon-closethick {
    background: url("../images/icon-popup-close.png") no-repeat 0 0;
    height: 33px;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

.ui-state-default .ui-icon:hover,
.ui-widget-header .ui-icon-closethick:hover {
    background: url("../images/icon-popup-close.png") no-repeat 0 -33px;
}

.subtitle {
    width: 386px;
    text-align: center;
    margin: 0 auto;
    height: 81px;
    padding-top: 7px;
    box-sizing: border-box;
    font: 13px arial, helvetica, sans-serif;
    color: #4a4a4a;
    line-height: 19px;
}


.ui-dialog .ui-dialog-buttonpane button {
    /* float: right; */
    display: inline-block;
    vertical-align: top;
    font: bold 12px/38px arial, helvetica, sans-serif;
    background: #008ac6;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    border: 1px solid #008ac6;
    text-transform: uppercase;
    min-width: 180px;
    min-height: 53px;
    padding: 0;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
    text-align: center;
    margin: 0 auto;
    padding: 18px 0 0 3px;
}

span.ui-button-text {
    font-size: 1.2em;
}

.ui-dialog .ui-dialog-buttonpane button.cancel-button {

    display: inline-block;
    font: bold 12px/38px arial, helvetica, sans-serif;
    color: #717171;
    border: 0;
    text-transform: inherit;
    padding: 0;
    background: #eeeeee;
    margin: 0 0 0 8px;
    min-height: 10px;
    width: 80px;
    top: 20px;
    vertical-align: middle;
}

.ui-dialog .ui-dialog-buttonpane button.cancel-button .ui-button-text {
    padding: 0;
    font-size: 1.1em;
}

.dialog-popup {
    display: none;
}