.meeting-detail .file-ext-icon {
  display: block;
  width: 80px;
  height: 80px;

  border-radius: 6px;
  border: 1px solid #e8e8e8;

  background-repeat: no-repeat;
  background-color: #f8f8f8;

  &:hover {
    background-color: #efefef;
  }

  i.fa {
    font-size: 56px;
    padding: 12px;
    margin: 0;
    color: #008ac6;
  }

  i.fa.fa-archive {
    color: slategray;
  }

}

.meeting-detail .document-item.item {
  background-repeat: no-repeat;
}

.zip, .audio, .ods, .odt, .odp, .mp3 {
  background-position: 8px 8px;
  background-size: 64px;
}

.meeting-detail .boardbook-icon {
  background-image: url(../images/svg/boardbook.svg);
  background-position: 12px 10px;
  background-size: 50px;
}

.meeting-detail .mp3 {
  background-image: url(../images/svg/audio-x-generic.svg);
}

.meeting-detail .ods {
  background-image: url(../images/svg/x-office-spreadsheet.svg);
}

.meeting-detail .odt {
  background-image: url(../images/svg/x-office-document.svg);
}

.meeting-detail .odp {
  background-image: url(../images/svg/x-office-presentation.svg);
}

.meeting-detail .pptx {
  background-image: url(../images/ppt.png);
  background-position: 8px 8px;
}

.meeting-detail .tiff {
  background-image: url(../images/tiff.png);
  background-position: 8px 8px;
}

.meeting-detail .png {
  background-image: url(../images/png.png);
  background-position: 8px 8px;
}

.meeting-detail .jpeg {
  background-image: url(../images/jpeg.png);
  background-position: 8px 8px;
}

.meeting-detail .gif {
  background-image: url(../images/gif.png);
  background-position: 8px 8px;
}

.meeting-detail .zip {
  background-image: url(../images/zip.png);
  background-position: 8px 8px;
  background-size: 64px;
}

.meeting-detail .pdf {
  background-image: url(../images/sprites.png);
  background-position: 14px 10px;
}

.meeting-detail .xlsx {
  background-image: url(../images/sprites.png);
  background-position: 14px -98px;
}

.meeting-detail .docx {
  background-image: url(../images/sprites.png);
  background-position: 14px -210px;
}

.meeting-detail .viewer-link {
  //float: left;
  display: block;
  color: #008ac6;
  font: 13px arial, helvetica, sans-serif;
  line-height: 1.5em;
  padding: 5px 0 15px 0;
  margin: 0 10px 0 0;
}

.meeting-detail .viewer-link a {
  // text-decoration: underline;
  text-decoration: none;
  color: #008ac6;
}

.meeting-detail .viewer-link .approve-doc {
  color: #c52222;
}

.meeting-detail .viewer-link .approved-doc {
  color: #228822;
}

.meeting-detail .viewer-link a:hover {
  text-decoration: none;
}
