<html>
<body style="background: #cbcbcb; color: #393939; padding: 20px 20px 20px 25px">
  <table style="border-spacing: 0; width: 605px; height: 525px; border-radius: 5px; background: #fff; border: 1px solid #b9b9b9;">
    <tr>
      <td style="height: 75px; background: #f1f1f1; border-radius: 5px 5px 0 0; border-bottom: 1px solid #b9b9b9;">
        <img src="http://static-boarddocuments.s3.amazonaws.com/images-external/logo.png" style="margin-left: 30px;"/>
      </td>
    </tr>
    <tr>
      <td style="height: 70px; background: #474747; color: #c2c2c2; font-size: 15px; font-family: Arial; padding: 5px 5px 5px 30px;">
        {% block board-title %}{% endblock %}
      </td>
    </tr>
    <tr style="vertical-align: top; padding: 50px 50px 50px 30px;">
      <td style="padding: 50px 50px 50px 30px;">
        {% block content %}{% endblock %}
        <p style="margin-bottom: 5px;  font-size: 13px; font-family: Arial; line-height: 1.5; color: #393939;">Thank you</p>

        <p style="margin-top: 0;  font-size: 13px; font-family: Arial; line-height: 1.5; color: #393939;">Team Board Director</p>
      </td>
    </tr>
  </table>
  <p style="margin: 25px 0 30px 0; font-size: 13px; font-family: Arial; line-height: 1.5; color: #393939;">If you have any questions,
    <a href="https://www.boarddirector.co/contact/" style="color: #09c0eb; text-decoration: none;">contact us</a> and our customer service team will respond promptly.
  </p>
</body>
</html>
