{% extends "inner.html" %}
{% load i18n static %}

{% block extra_css %}
  <link media="all" rel="stylesheet" href="{% static 'css/passwordstrenght.css' %}">
{% endblock extra_css %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'js/password.js' %}"></script>
{% endblock extra_js %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block workspace %}
  <header class="heading">
    <h2>{% trans "Password Change" %}</h2>
  </header>
  <form action="" method="POST" class="addmember-form">{% csrf_token %}
    <div class="m1">
      <dl class="settings">
        <dd>
          <ul>
            <li><a href="{% url 'profiles:detail' %}">{% trans "My Profile" %}</a></li>
            <li><a href="{% url 'accounts:boards' %}">{% trans "My Boards" %}</a></li>
          </ul>
        </dd>
        <dt>{% trans "Password Change" %}</dt>
      </dl>
      <div class="fields">
        <div class="c1">
          <ul class="fields-list">
            <li style="float: none">
              <label for="id_new_password1" style="float:left">{% trans 'New password' %} </label>
              <div id="passwordDescription">{% trans "Password not entered" %}</div>
              <input type="password" class="txt" id="id_new_password1" name="new_password1" onkeyup="passwordStrength(this.value)">
              <div id="passwordStrength" class="strength0"></div>
              {% if form.new_password1.errors %}
              <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="id_new_password1" role="alert">
                <span class="k-icon k-warning"></span>
                {{ form.new_password1.errors.0 }}
              </span>
              {% endif %}
            </li>
            <li style="float: none">
              <label for="id_new_password2">{% trans 'Password (again)' %} </label>
              <input type="password" class="txt" id="id_new_password2" name="new_password2">
              {% if form.new_password2.errors %}
              <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="id_new_password2" role="alert">
                <span class="k-icon k-warning"></span>
                {{ form.new_password2.errors.0 }}
              </span>
              {% endif %}
            </li>
          </ul>
          <div class="btns">
            <input type="submit" value="{% trans 'Change members password' %}" class="btn" style="width: 200px;"/>
          </div>
        </div>
      </div>
    </div>
  </form>

{% endblock workspace %}
