{% extends "blank_form.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Password reset successful' %}{% endblock %}

{% block extra_css %}
  <link href="{% static 'css/custom.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
  <div class="form-holder">
    <header>
      <h1 class="notice"><span class="tick">{% trans 'Password reset successful' %}</span></h1>

      <p>{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}</p>
    </header>
  </div>
{% endblock %}
