{% extends "blank_form.html" %}
{% load i18n %}
{% block content %}
  <div class="form-holder">
    <header>
      <h2>{% trans "Password reset" %}</h2>
      <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
    </header>
    <form action="" method="post" class="form">{% csrf_token %}
      <ul>
        {% if form.non_field_errors %}
        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" role="alert">
          <span class="k-icon k-warning"></span>
          {{ form.non_field_errors.0 }}
        </span>
        {% endif %}
        <li>{{ form.email.label_tag }}
          {{ form.email }}
        </li>
        {% if form.email.errors %}
        <span class="k-widget k-tooltip k-tooltip-validation k-invalid-msg" data-for="id_email" role="alert">
          <span class="k-icon k-warning"></span>
          {{ form.email.errors.0 }}
        </span>
        {% endif %}
      </ul>
      <div class="holder">
        <input type="submit" value="Reset my password" class="btn">
      </div>
    </form>
  </div>
{% endblock %}
