{% extends "blank_form.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Password reset complete' %}{% endblock %}

{% block extra_css %}
  <link href="{% static 'css/custom.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
  <div class="form-holder notice">
  <header>
    <h1 class="notice"><span class="tick">{% trans 'Password reset complete' %}!</span></h1>
    <p>{% trans "Your password has been set. You may go ahead and log in now." %}</p>
    <p><a href="{% url 'auth_login' %}" target="_top">{% trans 'Login' %}</a></p>
  </header>
  </div>
{% endblock %}
